body {
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 7rem;
    text-align: center;
}

h2 {
    color: white;
    font-size: 5rem;
    text-align: center;
    text-shadow: 5px 5px 5px black ;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

canvas {
    background-color: pink;
}

#message {
    height: 615px;
    width: 950px;
    background-color: black;
    position: absolute;
    box-shadow: 10px 10px 15px 1px black ;
}

.gameOver {
    background-image: url('../assets/gameOver.png');
}

.win {
    background-image: url('../assets/win.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

#healthBar {
    display: flex;
    justify-content: flex-start;
    width: 950px;
}

.lowHealth {
    color: red;
    font: 2.5rem;
}








